<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Board</string>
		<string>Bombs</string>
		<string>Bucket</string>
		<string>HiScore</string>
		<string>Main</string>
		<string>Monster</string>
		<string>Scenery</string>
		<string>Single</string>
	</array>
	<key>Created</key>
	<string>2014-09-14 14:09:44 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
